<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VOTER | EVOTE</title>

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/globals.css">

</head>
<body>
    <div class="app-head flex-center">
        <h2>Online Voting Powered by Blockchain</h2>
    </div>
    <div class="intro-form-container flex-center-horizontal">
        <form action = "#" method = "POST" class="intro-form">
            <div class="miner">
                <h3>Enter your voter ID</h3>
                <div class="miner-id-info flex-center-horizontal">
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                    <p>Voter ID starts with <span class="moid">VOID</span> followed by <span class="moid">three</span> integers</p>
                </div>
                <input type="text" name="minerID" required>
                <button type="submit" name="submit" value="Vote">Vote</button>
            </div>
        </form>
    </div>
</body>
</html>