<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INDEX | EVOTE</title>

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/globals.css">

</head>
<body>
    <div class="app-head flex-center">
        <h2>Online Voting Powered by Blockchain</h2>
    </div>
    <div class="quote flex-center">
        <h4>Use your vote wisely</h4>
    </div>
    <div class="vote-form-container flex-center">
        <form action = "#" method = "POST" class="vote-form">
            <table class="vote-parties-table">
                <tr class="vote-row">
                    <td class="vote-radio">
                        <input type="radio" name="vote-cast" id="vote-bjp">
                    </td>
                    <td>
                        <label for="vote-bjp" class="party-name">Bharathiya Janata Party</label>
                    </td>
                    <td>BJP</td>
                    <td>
                        <img src="" alt="" class="party-symbol">
                    </td>
                </tr>
                <tr class="vote-row">
                    <td class="vote-radio">
                        <input type="radio" name="vote-cast" id="vote-inc">
                    </td>
                    <td>
                        <label for="vote-inc" class="party-name">Indian National Congress Party</label>
                    </td>
                    <td>INC</td>
                    <td>
                        <img src="" alt="" class="party-symbol">
                    </td>
                </tr>
                <tr class="vote-row">
                    <td class="vote-radio">
                        <input type="radio" name="vote-cast" id="vote-cpi">
                    </td>
                    <td>
                        <label for="vote-cpi" class="party-name">Communist Party of India</label>
                    </td>
                    <td>CPI</td>
                    <td>
                        <img src="" alt="" class="party-symbol">
                    </td>
                </tr>
                <tr class="vote-row">
                    <td class="vote-radio">
                        <input type="radio" name="vote-cast" id="vote-bsp">
                    </td>
                    <td>
                        <label for="vote-bsp" class="party-name">Bahujan Samaj Party</label>
                    </td>
                    <td>BSP</td>
                    <td>
                        <img src="" alt="" class="party-symbol">
                    </td>
                </tr>
                <tr class="vote-row">
                    <td class="vote-radio">
                        <input type="radio" name="vote-cast" id="vote-npp">
                    </td>
                    <td>
                        <label for="vote-npp" class="party-name">National People's Party</label>
                    </td>
                    <td>NPP</td>
                    <td>
                        <img src="" alt="" class="party-symbol">
                    </td>
                </tr>
                <tr class="vote-row">
                    <td class="vote-radio">
                        <input type="radio" name="vote-cast" id="vote-nota">
                    </td>
                    <td>
                        <label for="vote-nota" class="party-name">None of the Above</label>
                    </td>
                    <td>NOTA</td>
                    <td>
                        <img src="" alt="" class="party-symbol">
                    </td>
                </tr>
                <tr>
                    <td colspan="4"><button type="submit" style="width: 100%">Submit</button></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>